<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- General description of your web application -->

    <display-name>Linked Data Resolver</display-name>
    <description>
	    Linked data resolver
    </description>

	<servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
      <servlet-name>ResolverHandler</servlet-name>
      <servlet-class>rossio.linkeddata.ResolverServlet</servlet-class>
        <init-param>
            <param-name>rossio.dspace.api.baseUrl</param-name>
            <param-value>http://dspace:8080/server/api/</param-value>
        </init-param>
        <init-param>
            <param-name>rossio.dspace.api.user</param-name>
            <param-value>nunofreire@fcsh.unl.pt</param-value>
        </init-param>
        <init-param>
            <param-name>rossio.dspace.api.password</param-name>
            <param-value>1-3-5-7-9</param-value>
        </init-param>
        <init-param>
            <param-name>rossio.repositorio.solr.baseUrl</param-name>
            <param-value>http://localhost:8983/solr/repositorio</param-value>
        </init-param>
        <init-param>
            <param-name>rossio.vocabs.html.baseUrl</param-name>
            <param-value>http://vocabs.rossio.fcsh.unl.pt/</param-value>
        </init-param>
        <init-param>
            <param-name>rossio.vocabs.sparql.baseUrl</param-name>
            <param-value>http://192.168.111.170:3030/skosmos/sparql</param-value>
        </init-param>
      <load-on-startup>5</load-on-startup>
    </servlet>

      
   <servlet-mapping>
       <servlet-name>default</servlet-name>
       <url-pattern>/static/*</url-pattern>
   </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>ResolverHandler</servlet-name>
      <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
      <session-timeout>1</session-timeout>
    </session-config>
</web-app>
